<%- include("partials/head") %>

<div class="container">
  <div class="row text-center mb-4">
    <div class="col">
      <h1><%= camp.name %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6 mb-3">
      <img style="height: 60vmin; width: auto;" class="img-fluid d-block mx-auto" src="<%= camp.image %>" alt="<%= camp.name %>">
    </div>

    <div class="col-12 col-lg-6">
      <p><%= camp.description %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% camp.comments.forEach(item => { %>
        <h5 class="title"><%= item.author %>:</h5>
        <p class="text"><%= item.text %></p>
      <%  }); %>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
